@use "../../core/scss/variables.scss" as v;

.prospect-cell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.prospect-name {
  font-size: 13px;
  color: v.$primary;
  font-weight: 500;
}

.prospect-company {
  font-size: 11.5px;
  color: v.$primary-400;
  margin-top: 1px;
}
